body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/background.png');
    background-size: cover;
    overflow: hidden;
}

#shooter {
    position: absolute;
    width: 10vw; /* 10% del ancho de la ventana del navegador */
    height: 10vw; /* 10% del ancho de la ventana del navegador */
    margin-bottom: 10vh; /* 10% de la altura de la ventana del navegador */
    bottom: 0;
    left: 0;

    background-size: cover;
    background-image: url('../img/shooter.png');
    padding: 20px;
  
}

.raindrop {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image: url('img/raindrop.png'); /* Ruta de la imagen de las gotas de lluvia */
    background-size: cover;
}



@keyframes fall {
    from {
        top: 0;
    }
    to {
        top: 100%; /* La posición final puede variar según tus necesidades */
        opacity: 50; /* Opcional: desvanecer la imagen al llegar al fondo */
    }
}

.heart{
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image: url('img/heart.png'); 
    background-size: cover;
}

@keyframes up {
    from {
        top: 100%; 
        opacity: 50; 
    }
    to {
        top: 0;
    }
}

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 767px) {
    #shooter {
        width: 10vw;
        height: 10vw;
        margin-bottom: 10vh;
    }

    .raindrop {
        width: 10vw;
        height:10vw;
    }

    .heart {
        width: 8vw;
        height:8vw;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
    #shooter {
        width: 8vw;
        height: 8vw;
        margin-bottom: 8vh;
    }

    .raindrop {
        width: 8vw;
        height: 8vw;
    }

    .heart {
        width: 6vw;
        height: 6vw;
    }
}

/* Estilos para pantallas grandes (monitores de escritorio) */
@media (min-width: 1024px) {
    #shooter {
        width: 5vw;
        height: 5vw;
        margin-bottom: 5vh;
    }

    .raindrop {
        width: 4vw;
        height: 4vw;
    }
}